{% from 'bootstrap5/form.html' import render_form %}

{% extends "base.html" %}

{% block content %}
    <h1>Tips</h1>

    <div class="col-md-10">
        <table class="table table-bordered">
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Horse</th>
                <th scope="col">Time</th>
                <th scope="col">Meeting</th>
                <th scope="col">Minimum Price</th>
                <th scope="col">Bet Type</th>
                <th scope="col">Stake</th>
              </tr>
            </thead>
            <tbody>
              {% for tip in tips %}
              <tr>
                <th scope="row">{{ tip.id }}</th>
                <td>{{ tip.horse }}</td>
                <td>{{ tip.time }}</td>
                <td>{{ tip.meeting }}</td>
                <td>{{ tip.min_price }}</td>
                <td>{{ tip.bet_type }}</td>
                <td>{{ tip.stake }}</td>
              </tr>
              <tr>
                <td colspan="7">
                    <table class="table">
                        <tbody>
                            {% for bet in tip.bets %}
                            <tr>
                                <td>{{ bet.punter.first_name}} {{ bet.punter.surname}}</td>
                                <td>{{ bet.stake }}</td>
                                <td>{{ bet.price }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>                    
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>      
    </div>

    <hr>

    <div class="col-md-3">
        <h3>Add a Tip</h3>
        {{ render_form(form) }}
    </div>
{% endblock %}
