{% from 'bootstrap5/form.html' import render_form %}

{% extends "base.html" %}

{% block content %}
    <h1>Punters</h1>

    <div class="col-md-10">
        <table class="table table-bordered">
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Phone Number</th>
              </tr>
            </thead>
            <tbody>
              {% for punter in punters %}
              <tr>
                <th scope="row">{{ punter.id }}</th>
                <td>{{ punter.first_name }}</td>
                <td>{{ punter.surname }}</td>
                <td>{{ punter.phone_number }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>      
    </div>

    <hr>

    <div class="col-md-3">
        <h3>Add a Punter</h3>
        {{ render_form(form) }}
    </div>
{% endblock %}
