{% from 'bootstrap5/form.html' import render_form %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="img/favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <title>SMS Horse Tips: Punters</title>
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{{ url_for('root') }}">Mark Callow Horse Tips</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      <li class="nav-item">
          <a class="nav-link" href="{{ url_for('root') }}">Tips</a>
      </li>
      <li class="nav-item">
          <a class="nav-link active" href="{{ url_for('punters') }}">Punters <span class="sr-only">(current)</span></a>
      </li>
      </ul>
  </div>
</nav>

<div class="container">
    <h1>Punters</h1>

    <div class="col-md-10">
        <table class="table table-bordered">
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Phone Number</th>
              </tr>
            </thead>
            <tbody>
              {% for punter in punters %}
              <tr>
                <th scope="row">{{ punter.id }}</th>
                <td>{{ punter.first_name }}</td>
                <td>{{ punter.surname }}</td>
                <td>{{ punter.phone_number }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>      
    </div>

    <hr>

    <div class="col-md-3">
        <h3>Add a Punter</h3>
        {{ render_form(form) }}
    </div>
</div>
</html>
